.intro {
  display: flex;
  max-width: 690px;
  margin: 0 0 92px 148px;
}

@media screen and (max-width:1200px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width:1000px) {
  .intro {
    margin: 0 auto 88px;
    max-width: calc(100% - 48px);
    padding: 0 24px;
  }
}

@media screen and (max-width:700px) {
  .intro {
    margin-bottom: 64px;
    padding: 0 16px;
  }
}